@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: #E5E5E5;
}

header{
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.33);
}

main{
    font-family: 'Roboto', sans-serif;
    margin-top: 123px;
    margin-bottom: 108px;
}

img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    object-fit: cover;
}

.titulos{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #ffffff;
    margin-left: 21px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.menu-superior-titulo, .titulo-item-selecionado{
    font-family: 'Righteous', cursive;
    font-weight: 400;
}

.menu-superior-titulo{
    font-size: 44px;
    margin-bottom: 5px;
}

.prato-principal, .bebida, .sobremesa{
    margin: auto 0 27px 19px;
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titulo-item-selecionado{
    font-size: 26px;
    color: #333333;
}

.itens-rolagem{
    display: inline-flex;
    /*overflow-x: scroll; */

}

.item-selecionado{
    width: 172px;
    height: 216px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-right: 16px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.item-caixa-interior{
    margin: 18px 14px 14px 14px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nome-item{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.descricao-item{
    width: 147px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #a6a6a6;
    hyphens: auto;
}

.valor{
    font-size: 16px;
    font-weight: 400px;
}

.menu-inferior{
    width: 100%;
    height: 92px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-selecionar{
    width: 364px;
    height: 61px;
    color: #ffffff;
    background-color: #cbcbcb;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}