@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

header {
  width: 100%;
  height: 92px;
  background-color: #cf2b2b;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.33);
  z-index: 1;
}

main {
  font-family: "Roboto", sans-serif;
  margin-top: 123px;
  margin-bottom: 108px;
}

img {
  width: 144px;
  height: 87px;
  border-radius: 4px;
  object-fit: cover;
}

.titulos {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #ffffff;
  margin-left: 21px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.menu-superior-titulo,
.titulo-item-selecionado {
  font-family: "Righteous", cursive;
  font-weight: 400;
}

.menu-superior-titulo {
  font-size: 44px;
  margin-bottom: 5px;
}

.grupo-de-itens {
  margin: auto 0 27px 19px;
  height: 258px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo-item-selecionado {
  font-size: 26px;
  color: #333333;
}

.itens-rolagem {
  display: inline-flex;
  overflow-x: scroll;
}

.itens-rolagem::-webkit-scrollbar {
  display: none;
}

.item-selecionado {
  width: 172px;
  height: 216px;
  border-radius: 9px;
  background-color: #ffffff;
  margin-right: 16px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  border-width: thick solid #32b72f;
}

.item-caixa-interior {
  margin: 18px 14px 14px 11px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nome, .descricao-item {
  max-width: 147px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nome {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}

.descricao-item {
  height: 39px;

  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #a6a6a6;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.valor {
  font-size: 16px;
  font-weight: 400;
}

.escolhido {
  border: thick solid #32b72f;
}

.escolhido ion-icon {
  display: flex;
  position: absolute;
  color: #32b72f;
  font-size: 19px;
  bottom: 14px;
  right: 14px;
}

.escondido {
  display: none;
}

footer {
  background-color: #ffffff;
  height: 92px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div {
  width: 364px;
  height: 61px;
  border-radius: 50px;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.barra-selecionar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-inferior {
  background-color: #cbcbcb;
}

.finalizar {
  background-color: #32b72f;
  font-size: 16px;
  font-weight: 700;
}

.tela-de-confirmacao {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

.nenhuma-selecao {
  display: none;
}

.dados-do-pedido {
  height: 353px;
  padding: 21px 24px 0px 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #50d074;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 9px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.titulo-confirmacao {
  font-weight: 700;
  text-align: center;
}

.itens-confirmacao {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total {
  font-weight: 700;
}

.botao-confirmacao {
  height: 52px;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  letter-spacing: 0.018em;

  cursor: pointer;
}

.confirmar {
  width: 333px;

  background-color: #ffffff;
  color: #50d074;
}

.cancelar {
  font-size: 20px;
}

@media (max-width: 375px) {
  .dados-do-pedido {
    max-width: 300px;
    padding: 21px 14px 0px 14px;
  }

  .botao-confirmacao {
    max-width: 250px;
  }
}
